.filter-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    margin-top: 15rem;
  }
  
  .dropdown {
    background-color: #bebebe;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: -32rem;
    margin-top: 4rem;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  
  .filter-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    padding: 42px;
    background-color: #bebebe;
    box-sizing: border-box;
  }
  
  .filter-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
  }
  
  .filter-option input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .filter-option label {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .filter-apply-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f97f7f;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 13rem;
    margin-right: -34rem;
    align-self: center;
    justify-self: center;
  }
  
  .filter-toggle-button {
    margin-right: -13rem;
    margin-top: -12rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .filter-results {
    margin-top: 0.45rem;
    font-size: 1rem;
  }
  