.filter-icon {
  transition: fill 0.2s ease-in-out;
}

.filter-container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  gap: 10px;
}

.filter-options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  background-color: var(--secondary-grey);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  padding: 60px 20px 20px;
}

.filter-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
}

.filter-option input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.filter-option label {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-apply-button {
  position: sticky;
  bottom: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  max-width: 300px;
  background-color: var(--pink);
  border: none;
  color: #ffffff;
  border-radius: 4px;
  width: calc(100% - 40px);
  margin: 30px auto;
}

.filter-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--grey);
}

@media (min-width: 768px) {
  .filter-options {
    position: absolute;
    grid-template-columns: 1fr 1fr;
    transform: translateX(-25%);
    top: 100%;
    left: 50%;
    right: auto;
    bottom: auto;
    max-height: 80vh;
    padding: 20px;
  }

  .filter-apply-button {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .filter-options {
    transform: translateX(-65%);
  }

  .filter-options {
    padding: 2rem 6rem;
  }

  .filter-apply-button {
    margin-bottom: 0rem;
  }

  
}
