:root {
  --grey: #9a928f;
  --brown: #9b4c10;
  --pink: #d6606d;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  box-sizing:border-box;
}

.grey-header-text {
  color: var(--grey);
  font-size: 52pt;
}

.white-header-text {
  color: white;
  font-size: 52pt;
}
