:root {
  --grey: #9a928f;
  --brown: #9b4c10;
  --pink: #d6606d;
  --blue: #7796B2
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.grey-header-text {
  color: var(--grey);
  font-size: 52pt;
}

.white-header-text {
  color: white;
  font-size: 52pt;
}
