.header {
  width: 98vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--grey);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  margin: 0 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.header-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header-button:hover {
  text-decoration: underline;
}
