.header {
  z-index: 30;
  width: 100dvw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  background-color: var(--white);
  color: var(--white);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 10vw;
  max-width: 90px;
  height: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.nav-links a:visited {
  color: var(--black);
}

.header-button {
  text-decoration: none;
}

.header-button:hover {
  text-decoration: underline;
}

.information {
  background-color: var(--white);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin: 0 1rem;
  color: var(--grey);
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.8rem;
  position: relative;
  z-index: 10;
}

.information:after {
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  z-index: 20;
  height: auto;
  width: 80vw;
  max-width: 15rem;
  background-color: var(--white);
  box-shadow: 0 5px 10px var(--grey);
  content: 'You can search multiple job titles by separating them with a comma ","';
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
}

.information:hover:after {
  display: block;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .logo {
    width: 15vw;
    margin-bottom: 1rem;
  }

  .button-container {
    width: 80%;
    justify-content: center;
    margin-top: 1rem;
  }

  .header-button {
    font-size: 2vw;
  }

  .information {
    margin-top: 0.5rem;
  }

  .information:after {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .logo {
    width: 20vw;
    margin-bottom: 1rem;
  }

  .button-container {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .header-button {
    font-size: 3vw;
  }

  .information {
    margin-top: 0.5rem;
  }

  .information:after {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .header-button {
    font-size: 4vw;
  }
}
