.header {
  width: 100dvw;
  height: 15dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--grey);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.header-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header-button:hover {
  text-decoration: underline;
}

.information {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin: 0 1rem;
  color: var(--grey);
  text-align: center;
  line-height: 0.8rem;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.information:after {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  z-index: -10;
  height: 3rem;
  width: 10rem;
  background-color: white;
  box-shadow: 0 5px 5px var(--grey);
  content: 'You can search multiple job titles by separating them with a comma ","';
}

.information:hover:after {
  display: block;
}
