.heart-icon {
    width: 28px;
    height: 28px;
    transition: fill 0.2s ease-in-out;
  }

    
  .save-search-button {
    margin-right: -23rem;
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .save-search-text {
    font-size: 1rem;
    color: #000;
  }
