.hierarchy-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 20px;
}

.route-header {
  font-size: 32px;
  margin-bottom: 20px;
}

.hierarchy-map {
  background-color: #cdc3c35d;
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  width: 600px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  align-items: start;
  gap: 10px;
  height: 100%; 
}

.grid-item {
  background-color: none;
  padding: 15rem 3rem;
  text-align: center;
  font-size: 20px;
}

.grid-line {
  background-color: rgb(120, 183, 208);
  width: 10px;
  height: 100%;
  margin: 0;
}

.route-name {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
