.hierarchy-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 20px;
}

.route-header {
  font-size: 32px;
  margin-bottom: 20px;
}

.hierarchy-map {
  background-color: var(--grey);
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  width: 80vw;
  height:60vh;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  gap: 10px;
  height: 100%; 
}

.heading{
 display: flex;
 flex-direction:row;
 justify-content: space-evenly;
 width:100%;
 position: absolute;
 top: 0;
 left:0;
}

.grid-container p {
  grid-column-start: 3;
}

.grid-line {
  background-color: rgb(120, 183, 208);
  width: 10px;
  min-height: 100%;
  margin: 0;
}