.info-page {
  background: url("../images/HomeBackground.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  width: 95dvw;
  margin: 0 2.5dvw;
  padding: 1rem 1rem;
}

.info-page__wrapper {
  background: rgba(167, 167, 167, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem 5rem; 
}

.info-page__box {
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 8px;
  width: 100%;
}


.info-page__text {
  height: fit-content;
  font-size: 5rem;
  margin: 0;
}

.info-page__text-2 {
  height: fit-content;
  font-size: 2rem;
}

.info-page__wrapper h1 {
  margin: 0;
  align-content: center;
  height: 12rem;
}


