.occupation-details {
  width: 80vmax;
  height: 80vmax;
  max-width: 650px;
  max-height: 650px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
  position: relative;
}

.header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.section h3 {
  display: inline;
  margin-right: 0.5rem;
}

.in-brief {
  position: relative;
  margin-left: -2rem;
  padding: 1.3rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: var(--brown);
  color: white;
  overflow: hidden;
}

.overview-text {
  display: inline;
  color: white; 
}

.in-depth {
  margin-top: 1rem;
  padding: 1rem 4rem;
  overflow:auto;
  max-height: 15rem;
}

.additional-details.collapsed {
  max-height: 6rem;
  overflow: hidden;
}

.additional-details.expanded {
  max-height: none;
}

button {
  display: inline-block;
  text-decoration: underline;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border: none;
  background: none;
  color: var(--pink);
  cursor: pointer;
  position: relative;
}

.route-name {
  font-size: 1.3rem; 
  color: var(--pink); 
}

.pathway-name-text {
  font-size: 1rem;
  color: var(--pink); 
}

.pathway-name-container {
  display: flex;
  justify-content: flex-end; 
}

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--grey);
  text-decoration: none;
}

.close-button:hover {
  color: var(--grey);
}