.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.occupation-page__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.occupation-header h1,
p {
  margin: 0;
}

.occupation-header {
  align-items: flex-start;
  gap: 0.75rem;
  grid-column: 1 / span 2;
  margin: 2rem 1.5rem 3rem;
}

.route-name {
  font-size: 1.3rem;
  color: var(--pink);
}

.occupation-page__banner h3 {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.occupation-page__banner p {
  padding: 0 1.25rem 2rem;
}

.occupation-page__banner {
  align-items: flex-start;
  background-color: var(--brown);
  color: white;
  overflow: hidden;
  grid-column: 1 / 3;
  width: 100%;
  min-height: 5rem;
}

.occupation-page__section {
  margin-top: 1rem;
  padding: 0 1rem;
  grid-column: 1 / 3;
}

.occupation-summary {
  max-height: 9.5rem;
  overflow: hidden;
  transition: max-height 1s;
}

.occupation-summary.expanded {
  max-height: 50rem;
  overflow-y: scroll;
}

.read-more__button {
  unset: all;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-decoration: underline;
  padding: 0.5rem 0;
  border: none;
  background: none;
  color: var(--pink);
  cursor: pointer;
}

.pathway-name {
  grid-column: 1 / 3;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 1rem;
}

.pathway-name p {
  font-size: 1rem;
}

.pathway-name span {
  color: var(--pink);
}

/****Media Queries *****/

@media (min-width: 800px) {
  .occupation-page__main {
    grid-template-columns: repeat(6, 1fr);
  }

  .occupation-header {
    grid-column: 1 / span 3;
  }

  .occupation-page__banner {
    grid-column: 1 / span 5;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .occupation-page__section {
    grid-column: 1 / 7;
    padding: 0 4rem;
  }

  .pathway-name {
    grid-column: 1 / 6;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .occupation-page__main {
    grid-template-columns: repeat(12, 1fr);
    margin-top: 5rem;
  }

  .occupation-header {
    grid-column: 2 / span 4;
  }

  .occupation-page__banner {
    flex-direction: row;
    grid-column: 2 / 9;
    align-items: center;
  }

  .occupation-page__banner p {
    padding-bottom: 0;
  }
  
  .occupation-page__banner h3 {
    margin: 0;
  }

  .occupation-page__section {
    grid-column: 3 / 9;
    padding: 0 6rem;
  }

  .pathway-name {
    grid-column: 1 / 8;
  }
}
