.occupations-list--container {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  gap: 1rem;
  height: 100%;
  width: fit-content;
  padding: 5px 15px;
}

.occupations-list--container > .occupation-card {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.occupations-list__empty {
  grid-row: 2;
  grid-column: 2;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
