.search-page--options-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70dvw;
}

.search-page--options-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
