.t-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  padding: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.links a {
  color: var(--brown);
  
}


