.app {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app--routes {
  overflow-y: auto;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
}
